html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; -webkit-appearance: none; border-radius: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: proxima; src: url("fonts/proximanova-regular-webfont.eot"); src: url("fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regular-webfont.woff") format("woff"), url("fonts/proximanova-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: bold; src: url("fonts/proximanova-bold-webfont.eot"); src: url("fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold-webfont.woff") format("woff"), url("fonts/proximanova-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: areg; src: url("fonts/AvenirNext-Regular.eot"); src: url("fonts/AvenirNext-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Regular.woff") format("woff"), url("fonts/AvenirNext-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: alite; src: url("fonts/AvenirNext-UltraLight.eot"); src: url("fonts/AvenirNext-UltraLight.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-UltraLight.woff") format("woff"), url("fonts/AvenirNext-UltraLight.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: abold; src: url("fonts/AvenirNext-Bold.eot"); src: url("fonts/AvenirNext-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Bold.woff") format("woff"), url("fonts/AvenirNext-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: asemi; src: url("fonts/AvenirNext-DemiBold.eot"); src: url("fonts/AvenirNext-DemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-DemiBold.woff") format("woff"), url("fonts/AvenirNext-DemiBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: aital; src: url("fonts/AvenirNext-Italic.eot"); src: url("fonts/AvenirNext-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Italic.woff") format("woff"), url("fonts/AvenirNext-Italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: amed; src: url("fonts/AvenirNext-Medium.eot"); src: url("fonts/AvenirNext-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/AvenirNext-Medium.woff") format("woff"), url("fonts/AvenirNext-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: areg, sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; }

.in, .header .header__in, .footer_static { width: 1180px; margin: 0 auto; }

.in { position: relative; }

body { background: #f8f8f8; }
body.b-client { background: #fafafa; }

.header { position: fixed; top: 0; left: 0; width: 100%; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 1200; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; }
.header.header_blue { background: #353557 !important; }
.header.is-active { background: rgba(53, 53, 88, 0.8); }
.b-client .header.is-active { background: rgba(249, 252, 253, 0.8); }
.header .header__in { position: relative; height: 77px; }

.start { height: 100vh; position: relative; z-index: 400; }
.b-client .start { background: #f8fcfd url(../img/money03_1650.jpg) no-repeat 50% 50%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.start .in { z-index: 20; }

.video { position: absolute; position: fixed; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); top: 0; left: 0; right: 0; bottom: 0; z-index: -100; background: url(../img/westminster.jpg) no-repeat 50% 50%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.video video { position: absolute; right: 0; bottom: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; }
@media (max-width: 1000px) { .video video { display: none; } }
.video .video__over { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: black; opacity: 0.4; }

.start__links { position: absolute; right: 0; top: 10px; text-align: right; z-index: 20; }
.start__links a { font-size: 15px; text-transform: uppercase; text-decoration: none; letter-spacing: 2px; display: inline-block; color: white; padding: 15px 18px; vertical-align: middle; }
.b-client .start__links a { color: #353458; }
.start__links .start__signup { border: 2px solid #1db6b3; border-radius: 2px; margin-left: 14px; font-family: asemi, sans-serif; font-weight: normal; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1db6b3), color-stop(100%, #343959)); background-image: -webkit-linear-gradient(left, #1db6b3, #343959); background-image: -moz-linear-gradient(left, #1db6b3, #343959); background-image: -o-linear-gradient(left, #1db6b3, #343959); background-image: linear-gradient(left, #1db6b3, #343959); }
.start__links .start__signup:hover { background: #1db6b3; }
.b-client .start__links .start__signup { background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ea284c), color-stop(100%, #363657)); background-image: -webkit-linear-gradient(left, #ea284c, #363657); background-image: -moz-linear-gradient(left, #ea284c, #363657); background-image: -o-linear-gradient(left, #ea284c, #363657); background-image: linear-gradient(left, #ea284c, #363657); border-color: #ea284c; color: white; }
.b-client .start__links .start__signup:hover { background: #ea284c; }

.start__exchange { position: absolute; top: 30px; left: 190px; font-family: areg, sans-serif; font-weight: normal; font-size: 13px; line-height: 1; z-index: 20; }
.start__exchange span { color: #b4c1e5; margin: 0 5px; font-size: 10px; }

.logo { position: absolute; left: 0; top: 17px; font-family: proxima, sans-serif; font-weight: normal; text-decoration: none; cursor: pointer; letter-spacing: 3px; font-size: 20px; text-transform: uppercase; color: white; }
.logo em { letter-spacing: 0; text-transform: none; font-style: normal; font-family: amed, sans-serif; font-weight: normal; font-size: 11px; color: white; position: relative; top: -6px; }
.b-client .logo em { color: #353458; }
.logo i { display: inline-block; background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 45px 40px; -webkit-background-size: 45px 40px; background-size: 45px 40px; width: 45px; height: 40px; display: inline-block; vertical-align: middle; margin-right: 10px; }
.b-client .logo i { background: url("../img/svg/logodark.svg") no-repeat 0 0; -moz-background-size: 45px 40px; -webkit-background-size: 45px 40px; background-size: 45px 40px; width: 45px; height: 40px; display: inline-block; }
.logo strong { color: #f7ce67; font-weight: normal; font-family: bold, sans-serif; font-weight: normal; }
.b-client .logo strong { color: #343556; }

.start__bottom { position: absolute; left: 0; bottom: 0; right: 0; height: 70px; z-index: 20; }

.start__bottomlinks { float: left; height: 70px; line-height: 70px; color: white; list-style: none; }
.start__bottomlinks li { float: left; }
.start__bottomlinks a { float: left; font-size: 15px; color: white; text-decoration: none; margin-right: 31px; }
.b-client .start__bottomlinks a { color: #353458; }
.start__bottomlinks.is-right { float: right; }
.start__bottomlinks.is-right a { margin-right: 0; margin-left: 31px; }

.start__gonext { position: absolute; left: 50%; top: 15px; margin-left: -20px; background: url("../img/svg/arrow.svg") no-repeat 0 0; -moz-background-size: 40px 40px; -webkit-background-size: 40px 40px; background-size: 40px 40px; width: 40px; height: 40px; display: inline-block; cursor: pointer; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.b-client .start__gonext { background: url("../img/svg/arrow-dark.svg") no-repeat 0 0; -moz-background-size: 40px 40px; -webkit-background-size: 40px 40px; background-size: 40px 40px; width: 40px; height: 40px; display: inline-block; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }
.start__gonext:hover { top: 19px; }

.start .in { height: 100vh; }

.now { width: 720px; margin: 0 auto; padding-top: 200px; text-align: center; }
.now.now_m { padding-top: 0; position: absolute; left: 50%; top: 50%; margin-top: -170px; margin-left: -360px; }
.b-client .now { background: rgba(250, 250, 250, 0.65); top: 50%; padding: 10px; margin-top: -130px; position: absolute; width: 750px; margin-left: -375px; left: 50%; }
.b-client .now .form { margin-top: 20px; }
.now h2, .now h1 { font-weight: normal; font-family: bold, sans-serif; font-weight: normal; font-size: 46px; color: #2a2946; color: white; text-transform: uppercase; }
.b-client .now h2, .b-client .now h1 { color: #353656; }
.now p { font-family: amed, sans-serif; font-weight: normal; font-size: 25px; color: #353659; color: white; line-height: 1.5; margin-bottom: 18px; }
.b-client .now p { color: #353656; }
.now .now__cube { background: url("../img/svg/Cubits_Landing_Cube.svg") no-repeat 0 0; -moz-background-size: 116px 100px; -webkit-background-size: 116px 100px; background-size: 116px 100px; width: 116px; height: 100px; display: inline-block; display: inline-block; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; margin-bottom: 20px; }

.form { font-size: 0; }
.form .form__input { border: 2px solid #1db6b3; width: 346px; height: 64px; font-size: 16px; padding-top: 0px; line-height: normal; padding-left: 15px; padding-right: 15px; font-family: areg, sans-serif; font-weight: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-right: 10px; vertical-align: middle; background: rgba(255, 255, 255, 0.5); }
.form .form__input:-ms-input-placeholder { font-size: 16px; color: white; }
.form .form__input:-moz-placeholder { font-size: 16px; color: white; }
.form .form__input::-moz-placeholder { font-size: 16px; color: white; }
.form .form__input::-webkit-input-placeholder { font-size: 16px; color: white; }
.form .form__input::placeholder { font-size: 16px; color: white; }
.b-client .form .form__input { border-color: #ea284c; }
.b-client .form .form__input:-ms-input-placeholder { color: #4d4d67; }
.b-client .form .form__input:-moz-placeholder { color: #4d4d67; }
.b-client .form .form__input::-moz-placeholder { color: #4d4d67; }
.b-client .form .form__input::-webkit-input-placeholder { color: #4d4d67; }
.b-client .form .form__input::placeholder { color: #4d4d67; }
.form .form__submit { height: 64px; border-radius: 2px; width: 350px; text-align: center; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1db6b3), color-stop(100%, #343858)); background-image: -webkit-linear-gradient(left, #1db6b3, #343858); background-image: -moz-linear-gradient(left, #1db6b3, #343858); background-image: -o-linear-gradient(left, #1db6b3, #343858); background-image: linear-gradient(left, #1db6b3, #343858); letter-spacing: 3px; color: white; text-transform: uppercase; cursor: pointer; font-size: 17px; font-family: asemi, sans-serif; font-weight: normal; display: inline-block; line-height: 64px; vertical-align: middle; }
.form .form__submit:hover { background: #1db6b3; }
.b-client .form .form__submit { border-color: #ea284c; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(237, 24, 71, 0.85)), color-stop(100%, #363657)); background-image: -webkit-linear-gradient(left, rgba(237, 24, 71, 0.85), #363657); background-image: -moz-linear-gradient(left, rgba(237, 24, 71, 0.85), #363657); background-image: -o-linear-gradient(left, rgba(237, 24, 71, 0.85), #363657); background-image: linear-gradient(left, rgba(237, 24, 71, 0.85), #363657); }
.b-client .form .form__submit:hover { background: rgba(237, 24, 71, 0.85); }

.adv { background: #353556; height: 800px; }
.adv h2, .adv h1 { font-size: 42px; padding-top: 20px; font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; color: white; text-align: center; margin-bottom: 57px; }
.adv ul { list-style: none; }
.adv ul li { display: inline-block; width: 40%; text-align: center; vertical-align: top; margin-bottom: 60px; }
.adv ul li.spaceme { margin-right: 160px; }
.adv ul h3 { font-weight: normal; color: white; font-family: asemi, sans-serif; font-weight: normal; font-size: 21px; margin-bottom: 18px; margin-top: 16px; }
.adv ul p { font-size: 17px; font-family: areg, sans-serif; font-weight: normal; color: white; line-height: 1.3; max-width: 346px; margin: 0 auto; }
.adv ul .adv__icon { -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }

.icon-tools { display: inline-block; background: url("../img/svg/a-tools.svg") no-repeat 0 0; -moz-background-size: 100px 100px; -webkit-background-size: 100px 100px; background-size: 100px 100px; width: 100px; height: 100px; display: inline-block; }

.icon-globe { display: inline-block; background: url("../img/svg/a-globe.svg") no-repeat 0 0; -moz-background-size: 100px 100px; -webkit-background-size: 100px 100px; background-size: 100px 100px; width: 100px; height: 100px; display: inline-block; }

.icon-volatility { display: inline-block; background: url("../img/svg/a-volatility.svg") no-repeat 0 0; -moz-background-size: 100px 100px; -webkit-background-size: 100px 100px; background-size: 100px 100px; width: 100px; height: 100px; display: inline-block; }

.icon-zero { display: inline-block; background: url("../img/svg/a-zero.svg") no-repeat 0 0; -moz-background-size: 100px 100px; -webkit-background-size: 100px 100px; background-size: 100px 100px; width: 100px; height: 100px; display: inline-block; }

.your { background: #fafafa; text-align: center; z-index: 400; position: relative; }
.your .in { height: 100vh; position: relative; max-height: 760px; }
.your .in .your__text { position: absolute; bottom: 450px; left: 50%; width: 1000px; margin-left: -500px; }
.your .in h2, .your .in h1 { color: #f8cf5e; color: #353556; font-size: 46px; font-weight: normal; font-family: bold, sans-serif; font-weight: normal; text-align: center; text-transform: uppercase; }
.your .in p { font-size: 25px; line-height: 1.5; color: white; color: #353556; }
.your .your__pic { position: absolute; left: 50%; bottom: 0; margin-left: -590px; width: 1180px; background: #f8fcfd url(../img/cubits_ipad.png) no-repeat 50% 100%; height: 414px; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.your .your__pic img { display: block; width: 100%; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) { .your .your__pic img { display: none; } }
.your .your__pic .retina { display: none; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) { .your .your__pic .retina { display: block; } }

.scrs { background: #f8f8f8; }

.scr { height: 800px; min-height: 720px; background: #f8f8f8; position: relative; background: transparent; z-index: 100; }
.scr.scr1 { z-index: 50; }
.scr.scr1.at-bottom .scr__wrappics.is-fixed { position: absolute; top: 890px; }
.scr.scr2 { z-index: 100; background: transparent; }
.scr.scr2 .scr__text.is-fixed .scr__textinner { position: fixed; top: 200px; width: 514px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.scr .in__content { position: absolute; width: 1180px; }
.scr .scr__wrappics { position: relative; z-index: 300; }
.scr .scr__wrappics.is-fixed { position: fixed; top: 120px; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.scr .scr__wrappics img { position: absolute; left: 0; top: 0; width: 500px; }
.scr .scr__wrappics .pic2 { opacity: 0; top: 30px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; z-index: 20; }
.scr .scr__wrappics.is-showed2 .pic2 { top: 0; opacity: 1; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.scr .scr__wrappics.notfixed { position: absolute !important; top: 880px !important; }
.scr .in { *zoom: 1; padding-top: 120px; }
.scr .in:after { content: " "; display: table; clear: both; }
.scr .scr__pic { float: left; }
.scr .scr__text { float: right; width: 514px; padding-top: 200px; font-size: 22px; font-family: areg, sans-serif; font-weight: normal; line-height: 1.3; }
.scr .scr__text h2, .scr .scr__text h1 { font-weight: normal; font-size: 42px; font-family: asemi, sans-serif; font-weight: normal; color: #353458; line-height: 1.3; margin-bottom: 38px; }

.icon-api { display: inline-block; background: url("../img/svg/s-api.svg") no-repeat 0 0; -moz-background-size: 130px 130px; -webkit-background-size: 130px 130px; background-size: 130px 130px; width: 130px; height: 130px; display: inline-block; }

.icon-cart { display: inline-block; background: url("../img/svg/s-cart.svg") no-repeat 0 0; -moz-background-size: 130px 130px; -webkit-background-size: 130px 130px; background-size: 130px 130px; width: 130px; height: 130px; display: inline-block; }

.icon-button { display: inline-block; background: url("../img/svg/s-button.svg") no-repeat 0 0; -moz-background-size: 130px 130px; -webkit-background-size: 130px 130px; background-size: 130px 130px; width: 130px; height: 130px; display: inline-block; }

.icon-Free { display: inline-block; background: url("../img/svg/Free.svg") no-repeat 0 0; -moz-background-size: 130px 130px; -webkit-background-size: 130px 130px; background-size: 130px 130px; width: 130px; height: 130px; display: inline-block; }

.icon-Instant { display: inline-block; background: url("../img/svg/Instant.svg") no-repeat 0 0; -moz-background-size: 130px 130px; -webkit-background-size: 130px 130px; background-size: 130px 130px; width: 130px; height: 130px; display: inline-block; }

.icon-Safe { display: inline-block; background: url("../img/svg/Safe.svg") no-repeat 0 0; -moz-background-size: 130px 130px; -webkit-background-size: 130px 130px; background-size: 130px 130px; width: 130px; height: 130px; display: inline-block; }

.solutions { background: white; z-index: 1000; position: relative; }
.solutions .in { padding: 61px 0 85px; *zoom: 1; }
.solutions .in:after { content: " "; display: table; clear: both; }
.b-client .solutions .in { background: white; padding-top: 140px; padding-bottom: 140px; }
.solutions h2, .solutions h1 { font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; font-size: 42px; color: #353458; text-align: center; margin-bottom: 68px; }
.solutions .solutions__item { float: left; text-align: center; width: 27%; padding: 0 3%; font-size: 17px; color: #353458; line-height: 1.3; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; position: relative; top: -50px; }
.solutions .solutions__item + .solutions__item { -webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s; -o-transition-delay: 0.5s; transition-delay: 0.5s; }
.solutions .solutions__item + .solutions__item + .solutions__item { -webkit-transition-delay: 1s; -moz-transition-delay: 1s; -o-transition-delay: 1s; transition-delay: 1s; }
.b-client .solutions .solutions__item { opacity: 0; }
.b-client .solutions .solutions__item.is-active { opacity: 1; top: 0; }
.solutions .solutions__item h3 { font-size: 21px; font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; margin: 20px 0; color: #353458; }

.bottom { background: #f8f8f8 url(../img/BritishMuseum_2x.jpg) no-repeat 50% 50%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; height: 100vh; min-height: 700px; z-index: 1000; position: relative; }
.bottom .bottom__icon { background: url("../img/svg/Cubits_globe_stroke.svg") no-repeat 0 0; -moz-background-size: 390px 390px; -webkit-background-size: 390px 390px; background-size: 390px 390px; width: 390px; height: 390px; display: inline-block; position: absolute; left: 50%; margin-left: -200px; bottom: 45%; }
.b-client .bottom { background: #fafafa url(../img/Hand_solo_resize.jpg) no-repeat 50% 90%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.bottom .in { height: 100vh; min-height: 700px; }
.bottom .getstarted { background: rgba(249, 252, 253, 0.8); width: 904px; position: absolute; left: 50%; top: 50%; margin-left: -500px; margin-top: -120px; text-align: center; padding: 13px 25px 23px 25px; }
.b-client .bottom .getstarted { margin-top: -300px; background: transparent; margin-top: 0; bottom: 0px; top: auto; }
.bottom .getstarted h3 { font-size: 36px; color: #353558; font-weight: normal; margin-bottom: 29px; font-family: amed, sans-serif; font-weight: normal; }
.b-client .bottom .getstarted h3 { font-size: 25px; }

footer { background: #f9fcfd; font-size: 21px; color: #455473; padding: 75px 0 20px; text-align: center; z-index: 1000; position: relative; color: #353558; }
footer a { color: #1ebebb; text-decoration: none; font-size: 80%; }

.overlay { position: absolute; top: 0px; background: #768395; opacity: 0.9; bottom: 0; right: 0; left: 0; z-index: 1000; display: none; position: fixed; }

.has-popup { overflow: hidden; }

.popup { left: 50%; z-index: 1001; position: fixed; background: white; -webkit-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); -moz-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); -o-transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); transition: all 200ms cubic-bezier(0.455, 0.030, 0.515, 0.955); -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -webkit-transition-delay: 200ms; -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 200ms; -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 200ms; transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 200ms; -moz-transform: scale(0.02); -ms-transform: scale(0.02); -webkit-transform: scale(0.02); transform: scale(0.02); width: 640px; margin-left: -320px; top: 50%; margin-top: -200px; z-index: -1; opacity: 0; background: #f9fcfd; }
.popup.is-shown { -moz-transform: scale(1); -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); display: block; z-index: 10000; opacity: 1; }
.popup.popup_wide { width: 800px; margin-top: 0; top: 100px; }

.popup__content { padding-top: 20px; font-family: areg, sans-serif; font-weight: normal; font-size: 14px; color: #353458; }

.fancybox-wrap h3, .popup h3 { letter-spacing: 3px; font-weight: normal; text-transform: uppercase; text-align: center; font-size: 15px; font-family: proxima, sans-serif; font-weight: normal; margin-bottom: 27px; }
.fancybox-wrap .popup__title, .popup .popup__title { font-family: proxima, sans-serif; font-weight: normal; font-size: 18px; color: #353458; text-align: center; text-transform: uppercase; font-weight: normal; margin-bottom: 20px; letter-spacing: 3px; }
.fancybox-wrap .popup__title span, .popup .popup__title span { display: block; font-size: 13px; text-align: center; font-family: areg, sans-serif; font-weight: normal; color: #a1a2af; text-transform: none; letter-spacing: 0; }
.fancybox-wrap .popup__title i, .popup .popup__title i { vertical-align: middle; margin-right: 15px; position: relative; top: -2px; }
.fancybox-wrap .popup__subtitle, .popup .popup__subtitle { text-align: center; }
.fancybox-wrap .popup__close, .popup .popup__close { position: absolute; right: 20px; top: 20px; font-size: 19px; color: #93c4d2; cursor: pointer; font-family: amed, sans-serif; font-weight: normal; }

.submit { background: #1ebebb; font-size: 20px; letter-spacing: 3px; text-align: center; font-family: amed, sans-serif; font-weight: normal; color: white; text-transform: uppercase; text-decoration: none; cursor: pointer; box-shadow: inset 0 0 0 3px #27e5e1; -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease; height: 66px; line-height: 66px; }
.submit:hover { background: #179290; }
.submit i { color: #f8d37b; margin-right: 5px; font-size: 24px; position: relative; top: 2px; vertical-align: middle; }
.fancybox-wrap .submit:active { top: 0; }
.submit_subtle.submit { background: #95c4d1; box-shadow: inset 0 0 0 3px #a2d6e4; }
.submit_small.submit { font-size: 16px; height: 50px; line-height: 50px; }
.submit_pay.submit { letter-spacing: 0; font-family: asemi, sans-serif; font-weight: normal; }
.submit_pay.submit strong { font-family: amed, sans-serif; font-weight: normal; }

.input { display: block; position: relative; }
.input input { display: block; padding: 0 54px 0 23px; border: 2px solid #95c4d1; border-radius: 2px; box-shadow: inset 3px 3px 0 #eaeaea; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 66px; line-height: 66px; line-height: normal; width: 100%; font-family: amed, sans-serif; font-weight: normal; font-size: 17px; color: #cbcbcb; color: #353556; }
.input input:focus { border-color: #1ebebb; color: #353556; }
.input input:focus + .input__currency { background-color: #1ebebb; color: white; }
.input input[disabled] { color: #cbcbcb !important; }
.input.input_icon input { padding-right: 70px; }
.input .input__icon { position: absolute; right: 29px; top: 20px; font-size: 20px; color: #93c4d2; font-size: 25px; }
.input .input__icon.icon-qr { border: 2px solid #93c4d2; line-height: 1; height: 40px; line-height: 50px; display: inline-block; width: 60px; text-align: center; top: 11px; right: 10px; }
.input input:focus + .input__icon { color: #179290; }
.input .error { position: absolute; padding: 14px; background: #f6e0e6; font-family: amed, sans-serif; font-weight: normal; font-size: 13px; color: #ed1847; border-radius: 3px; top: 70px; left: 0; z-index: 200; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input .error:before { width: 20px; height: 20px; background: #f6e0e6; content: " "; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); left: 60px; top: -9px; position: absolute; }
.input.input_important input { border-color: #1ebebb; color: #1ebebb; }

.errorstatus { position: absolute; right: -245px; width: 230px; bottom: 10px; font-size: 15px; font-family: amed, sans-serif; font-weight: normal; color: #ed1847; padding: 0; line-height: 1; }
.errorstatus i { font-size: 25px; margin-right: 15px; vertical-align: middle; position: relative; top: 2px; }
.errorstatus.is-ok { color: #23c7c4; }

.popup__bottom { background: white; border-top: 1px solid #e6edf2; padding: 15px 20px; font-family: areg, sans-serif; font-weight: normal; font-size: 13px; text-align: center; }
.popup__bottom a { color: #1ebebb; text-decoration: none; font-family: asemi, sans-serif; font-weight: normal; }
.popup__bottom span { display: block; font-size: 15px; margin-bottom: 5px; }
.popup__bottom span strong { font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; color: #00bfbc; }

.signup { margin: 0 auto; width: 410px; padding: 50px 0; text-align: center; }
.signup .signup__text { font-size: 21px; margin-bottom: 30px; font-family: areg, sans-serif; font-weight: normal; color: #00bfbc; }

.success { font-size: 19px; color: #00bfbc; text-align: center; padding: 110px 0; line-height: 1.8; }
.success strong { font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; }

.resend { background: white; border-top: 1px solid #ebeff6; height: 70px; line-height: 70px; font-size: 16px; color: #00bfbc; text-decoration: none; cursor: pointer; text-align: center; font-family: areg, sans-serif; font-weight: normal; }

.input { display: block; position: relative; }
.input input { display: block; padding: 0 23px; border: 2px solid #95c4d1; border-radius: 2px; box-shadow: inset 3px 3px 0 #eaeaea; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 66px; line-height: 66px; width: 100%; font-family: amed, sans-serif; font-weight: normal; font-size: 31px; color: #cbcbcb; color: #353556; }
.input input:focus { border-color: #1ebebb; color: #353556; }
.input input:focus + .input__currency { background-color: #1ebebb; color: white; }
.input input[disabled] { color: #cbcbcb !important; }
.input.input_icon input { padding-right: 70px; }
.input.is-tilda input, .input.with-tilda input { padding-left: 60px; }
.input .input__tilda { position: absolute; left: 26px; top: 0; height: 66px; line-height: 66px; font-size: 31px; color: #677689; font-family: amed, sans-serif; font-weight: normal; display: none; }
.input.with-tilda .input__tilda, .input.is-tilda .input__tilda { display: block; }
.input .input__currency { width: 60px; height: 46px; line-height: 46px; text-align: center; position: absolute; right: 14px; top: 10px; border-radius: 2px; background: #95c4d1; font-size: 17px; font-family: asemi, sans-serif; font-weight: normal; color: white; }
.input .input__currency.input__currency_subtle { background: transparent; color: #1ebebb; }
.input .input__currency.input__currency_drop { width: 75px; background: #1ebebb; cursor: pointer; }
.input .input__currency.input__currency_drop .input__currencydrop { display: none; }
.input .input__currency.input__currency_drop .input__currencyvalue { position: relative; z-index: 3; display: inline-block; }
.input .input__currency.input__currency_drop i { display: inline-block; color: white; vertical-align: middle; font-size: 12px; }
.input .input__currency.input__currency_drop.is-opendrop { z-index: 10; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencyvalue { z-index: 12; color: #1ebebb; }
.input .input__currency.input__currency_drop.is-opendrop i { color: #353556; position: relative; z-index: 20; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop { display: block; position: absolute; left: 0; top: 0; right: 0; background: white; padding-top: 46px; z-index: 11; border: 2px solid #1ebebb; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop ul { list-style: none; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop li { border-top: 1px solid #e6eef2; height: 27px; line-height: 27px; cursor: pointer; background: white; text-align: center; color: #575770; text-transform: uppercase; font-size: 12px; font-family: amed, sans-serif; font-weight: normal; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop li:hover { background: #f9f9f9; color: #1ebebb; }
.input .input__currency.input__currency_drop.is-opendrop .input__currencydrop li:first-child { border-top: none; }
.input .input__type { position: absolute; right: 0; top: 0; bottom: 0; text-align: center; line-height: 47px; width: 50px; text-align: center; background: #95c4d1; color: white; font-size: 25px; }
.input.input_small { width: 340px; margin: 0 auto 15px auto; }
.input.input_small.input_phone input { padding-left: 70px; }
.input.input_small.input_phone .input__phonecode { position: absolute; left: 0; top: 0; bottom: 0; background: #95c4d1; border-top-left-radius: 4px; border-bottom-left-radius: 4px; color: white; line-height: 46px; width: 52px; text-align: center; font-family: asemi, sans-serif; font-weight: normal; font-size: 17px; }
.input.input_small.input_phone .input__phonecode:before { position: absolute; content: " "; top: 2px; bottom: 2px; width: 3px; right: -3px; background: #eaeaea; }
.input.input_small .input__label { display: block; font-size: 15px; font-family: amed, sans-serif; font-weight: normal; color: #34495e; margin-bottom: 10px; }
.input.input_small .input__label span { display: block; font-size: 14px; font-family: aital, sans-serif; font-weight: normal; color: #a4a4b0; }
.input.input_small input { font-size: 17px; height: 46px; line-height: 46px; line-height: 1; padding: 0 37px 0 17px; padding-top: 0px; line-height: normal; }
.input.input_small input:-ms-input-placeholder { line-height: normal; }
.input.input_small input:-moz-placeholder { line-height: normal; }
.input.input_small input::-moz-placeholder { line-height: normal; }
.input.input_small input::-webkit-input-placeholder { line-height: normal; }
.input.input_small input::placeholder { line-height: normal; }
.input.input_small .input__icon { position: absolute; right: 10px; bottom: 6px; top: auto; font-size: 20px; color: #93c4d2; }
.input.input_smaller { width: 137px !important; display: inline-block; float: left; }
.input.input_smaller + .input_smaller { margin-right: 16px; }
.input .input__icon { position: absolute; right: 29px; top: 20px; font-size: 20px; color: #93c4d2; font-size: 25px; }
.input .input__icon.icon-qr { border: 2px solid #93c4d2; line-height: 1; height: 40px; line-height: 50px; display: inline-block; width: 60px; text-align: center; top: 11px; right: 10px; }
.input input:focus + .input__icon { color: #179290; }
.input .error { position: absolute; padding: 14px; background: #f6e0e6; font-family: amed, sans-serif; font-weight: normal; font-size: 13px; color: #ed1847; border-radius: 3px; top: 70px; left: 0; z-index: 200; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input .error:before { width: 20px; height: 20px; background: #f6e0e6; content: " "; -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); left: 60px; top: -9px; position: absolute; }
.input.input_small .error { top: auto; bottom: -50px; }
.input.input_important input { border-color: #1ebebb; color: #1ebebb; }
.input.input_error2 input { border-color: #ea294c; }
.input.input_error2 .error2 { color: #ea294c; font-size: 11px; display: block; padding-top: 4px; white-space: nowrap; }

.popup__inside .errormess { text-align: center; font-size: 13px; font-family: asemi, sans-serif; font-weight: normal; margin-bottom: 14px; color: #ea294c; }
.popup__inside .input.is-error input { border-color: #ea294c; }
.popup__inside .popup__in { width: 340px; margin: 0 auto; padding: 50px 0; }
.popup__inside .popup__in p { margin-bottom: 1em; font-size: 15px; font-family: areg, sans-serif; font-weight: normal; color: #353458; }
.popup__inside .rememberme { width: 340px; margin: 0 auto; text-align: left; margin-bottom: 20px; *zoom: 1; }
.popup__inside .rememberme:after { content: " "; display: table; clear: both; }
.popup__inside .rememberme .field { padding-left: 0; float: left; width: 50%; margin: 0; }
.popup__inside .rememberme .forgotpassword { float: right; font-family: asemi, sans-serif; font-weight: normal; padding-top: 3px; }
.popup__inside .rememberme .forgotpassword a { text-decoration: none; color: #00bfbc; font-size: 13px; }
.popup__inside .donthave { background: white; text-align: center; padding: 20px 0; border-top: 1px solid #ebeff7; font-size: 13px; font-family: areg, sans-serif; font-weight: normal; }
.popup__inside .donthave a { text-decoration: none; font-family: asemi, sans-serif; font-weight: normal; color: #00bfbc; }

.field { margin-bottom: 23px; position: relative; *zoom: 1; }
.field:after { content: " "; display: table; clear: both; }
.field label { float: left; width: 104px; padding-left: 16px; font-size: 17px; font-family: amed, sans-serif; font-weight: normal; color: #34495e; padding-top: 13px; }
.field .input { float: right; width: 410px; margin-bottom: 0; }
.field.field_small .input { width: 280px; }
.field.field_small .smallselect { background: white; width: 280px; }
.field.field_small label { font-size: 14px; width: auto; padding-top: 15px; }
.field.field_smaller { margin-bottom: 15px; }
.field.field_smaller .field__content { float: right; width: 290px; }
.field.field_smaller label { font-size: 14px; padding-top: 15px; }
.field.field_smaller .input { width: 100%; }
.field.field_check { margin: 20px 0; padding-left: 110px; cursor: pointer; }
.field.field_check .checkbox { display: inline-block; vertical-align: middle; margin-right: 11px; }
.field.field_check .checkbox input { display: none; }
.field.field_check .checkbox i { display: inline-block; width: 20px; height: 20px; background: #00bfbc; box-shadow: inset 0 0 0 2px #bccdd5; }
.field.field_check .checkbox input:checked + i { background: #bccdd5; }
.field.field_check .label { display: inline-block; font-family: areg, sans-serif; font-weight: normal; font-size: 13px; color: #353458; }
.field .smallselect { float: right; width: 290px; height: 46px; line-height: 46px; }
.field .smallselect .smallselect__value { padding-left: 20px; font-family: amed, sans-serif; font-weight: normal; font-size: 17px; }

.reg { margin: 25px 0 0 0; background: white; }
.reg .reg__welcome { font-size: 18px; color: #34495e; font-family: areg, sans-serif; font-weight: normal; text-align: center; margin: 22px 0 25px 0; }
.reg .reg__welcome strong { font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; }
.reg .hr { margin: 25px 0; }
.reg .prefer { width: 340px; margin: 0 auto 25px auto; *zoom: 1; }
.reg .prefer:after { content: " "; display: table; clear: both; }
.reg .prefer label { float: left; width: 225px; font-size: 15px; padding-top: 3px; font-family: amed, sans-serif; font-weight: normal; color: #34495e; }
.reg .prefer label span { display: block; font-size: 14px; font-family: aital, sans-serif; font-weight: normal; color: #a4a4b0; }
.reg .prefer .select { float: right; width: 115px; position: relative; }
.reg .prefer .select input { border: 2px solid #95c4d1; border-radius: 2px; box-shadow: inset 3px 3px 0 #eaeaea; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 46px; line-height: 46px; width: 100%; font-size: 31px; color: #485878; font-size: 17px; padding-left: 14px; font-family: asemi, sans-serif; font-weight: normal; }
.reg .prefer .select i { position: absolute; right: 16px; top: 16px; }
.reg .prefer .select select { -webkit-appearance: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; z-index: 1; }
.reg .privacypolicy { text-align: center; font-size: 12px; font-family: amed, sans-serif; font-weight: normal; color: #b8b7c2; margin-bottom: 20px; }
.reg .privacypolicy a { color: #00bfbc; text-decoration: none; }

.strength { height: 8px; border: 2px solid #95c4d1; background: white; border-radius: 8px; width: 336px; margin: 0 auto; margin-top: 25px; }
.strength i { display: block; height: 8px; border-top-left-radius: 6px; border-bottom-left-radius: 6px; background: #1ebebb; }

.submit { background: #1ebebb; font-size: 20px; letter-spacing: 3px; text-align: center; font-family: bold, sans-serif; font-weight: normal; color: white; text-transform: uppercase; text-decoration: none; cursor: pointer; box-shadow: inset 0 0 0 3px #27e5e1; -webkit-transition: all 0.1s ease; -moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; transition: all 0.1s ease; height: 66px; line-height: 66px; display: block; text-decoration: none; }
.submit a { color: white; text-decoration: none; }
.submit:hover { background: #179290; }
.submit i { color: #f8d37b; margin-right: 5px; font-size: 24px; position: relative; top: 2px; vertical-align: middle; }
.submit:active { position: relative; top: 2px; }
.fancybox-wrap .submit:active { top: 0; }
.submit_subtle.submit { background: #95c4d1; box-shadow: inset 0 0 0 3px #a2d6e4; }
.submit_small.submit { font-size: 16px; height: 50px; line-height: 50px; }
.submit_pay.submit { letter-spacing: 0; font-family: amed, sans-serif; font-weight: normal; }
.submit_pay.submit strong { font-family: abold, sans-serif; font-weight: normal; }

@font-face { font-family: iconset; src: url("fonts/untitled-font-2.eot"); src: url("fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"), url("fonts/untitled-font-2.woff") format("woff"), url("fonts/untitled-font-2.ttf") format("truetype"); font-weight: normal; font-style: normal; }

[data-icon]:before { font-family: iconset !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: red; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: iconset !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-settings:before { content: "r"; }

.icon-request:before { content: "K"; }

.icon-activity:before { content: "L"; }

.icon-add:before { content: "M"; }

.icon-buy:before { content: "N"; }

.icon-console:before { content: "O"; }

.icon-cube-logo-dark:before { content: "P"; }

.icon-cube-logo-lite:before { content: "Q"; }

.icon-deposit:before { content: "R"; }

.icon-facebook:before { content: "S"; }

.icon-google:before { content: "T"; }

.icon-info:before { content: "U"; }

.icon-lock:before { content: "V"; }

.icon-mail:before { content: "W"; }

.icon-sell:before { content: "X"; }

.icon-twitter:before { content: "Y"; }

.icon-swift:before { content: "Z"; }

.icon-sofort:before { content: "0"; }

.icon-skrill:before { content: "1"; }

.icon-settings:before { content: "2"; }

.icon-sepa-text:before, .icon-sepa:before { content: "3"; }

.icon-send:before { content: "4"; }

.icon-question:before { content: "5"; }

.icon-qr:before { content: "6"; }

.icon-okpay:before { content: "7"; }

.icon-off:before { content: "8"; }

.icon-notification:before { content: "9"; }

.icon-moneyin:before { content: "!"; }

.icon-user:before { content: '"'; }

.icon-arrow:before { content: "a"; }

.icon-arrowdown:before { content: "b"; }

.icon-help:before { content: "c"; }

.icon-logout:before { content: "d"; }

.icon-mobile:before { content: "e"; }

.icon-invoice:before { content: "f"; }

.icon-googlea { background: url(../img/google-auth@2x.png) no-repeat 0 0; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; display: inline-block; width: 23px; height: 23px; }

.icon-squares:before { content: "j"; }

.icon-screen:before { content: "k"; }

.icon-profile:before { content: "l"; }

.icon-ok:before { content: "m"; }

.icon-link:before { content: "n"; }

.icon-doc:before { content: "o"; }

.icon-close:before { content: "p"; }

.icon-clock:before { content: "q"; }

.icon-date:before { content: "s"; }

.icon-obt-logo-dark:before { content: "t"; }

body { min-width: 1180px; }

.cube { background: url("../img/svg/cube.svg") no-repeat 0 0; -moz-background-size: 120pxpx 200pxpx; -webkit-background-size: 120pxpx 200pxpx; background-size: 120pxpx 200pxpx; width: 120pxpx; height: 200pxpx; display: inline-block; position: fixed; top: 150px; left: 50%; z-index: 300; width: 120px; height: 200px; margin-left: -60px; background-position: 50% 50%; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; opacity: 1; }
.is-cubefinal .cube { opacity: 0; }
.cube.cube_fake { display: none; position: absolute; left: 50%; top: 45px; }

.plane, .hexa, .hand { height: 100vh; }
.plane p, .hexa p, .hand p { font-family: areg, sans-serif; font-weight: normal; font-size: 25px; color: #353458; text-align: center; margin: 0 auto; position: relative; z-index: 700; }
.plane h2, .hexa h2, .hand h2, .plane h1, .hexa h1, .hand h1 { color: #ed1847; font-size: 42px; font-weight: normal; font-family: asemi, sans-serif; font-weight: normal; text-align: center; margin-bottom: 30px; position: relative; z-index: 700; }
.plane .in, .hexa .in, .hand .in { position: relative; height: 100vh; }

.is-forw { z-index: 1000; }
.is-forw section { z-index: 1000; }

.plane { position: absolute; top: 0; width: 100%; left: 0; z-index: 10; }
.plane.plane_forw { z-index: 1000; }
.plane .plane__icon { position: absolute; width: 400px; margin-left: -177px; left: 50%; top: 100px; top: 141px; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; width: 370px; height: 400px; }
.plane .plane__icon svg { width: 370px; position: absolute; top: 0; left: 0; opacity: 0; transition: all 0.7s linear; }
.plane .plane__icon svg path { stroke-dasharray: 1200; stroke-dashoffset: 1200; transition: all 0.5s linear; }
.plane .plane__icon .plane__iconforw { z-index: 800; }
.plane .plane__icon .plane__iconforw #plane_behind, .plane .plane__icon .plane__iconforw #cube1 { display: none; }
.plane .plane__text { position: absolute; width: 100%; top: 440px; left: 0; }
.plane.is-active .plane__icon svg, .scroll-pos-fixing .plane .plane__icon svg { opacity: 1; }
.plane.is-active .plane__icon svg path, .scroll-pos-fixing .plane .plane__icon svg path { stroke-dashoffset: 0; }

.hexa .hexa__bg { position: absolute; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100vh; background: url(../img/locks_2x.jpg) no-repeat 50% 50%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; opacity: 0.15; }
.is-forw .hexa .hexa__bg { display: none; }
.hexa .hexa__icon { position: absolute; width: 400px; margin-left: -105px; left: 50%; bottom: 440px; top: 120px; bottom: auto; width: 210px; height: 250px; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }
.hexa .hexa__icon svg { width: 210px; height: 250px; position: absolute; top: 0; left: 0; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.is-forw .hexa .hexa__icon svg { display: block; }
.hexa .hexa__icon .hexa__back #lasers, .hexa .hexa__icon .hexa__back #vault_Dial, .hexa .hexa__icon .hexa__back #vault_outer { display: none; }
.hexa .hexa__icon .hexa__forw { z-index: 800; }
.hexa .hexa__icon .hexa__forw #dotted_lines, .hexa .hexa__icon .hexa__forw #hexagon, .hexa .hexa__icon .hexa__forw #cube { display: none; }
.hexa .hexa__icon .hexa__forw #cube, .hexa .hexa__icon .hexa__forw #lasers, .hexa .hexa__icon .hexa__forw #vault_Dial, .hexa .hexa__icon .hexa__forw #vault_outer, .hexa .hexa__icon .hexa__forw #inner_vault_fill { opacity: 0; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.hexa .hexa__icon .hexa__forw #lasers { -webkit-transition-delay: 0.4s; -moz-transition-delay: 0.4s; -o-transition-delay: 0.4s; transition-delay: 0.4s; }
.hexa .hexa__icon .hexa__forw #vault_Dial { -webkit-transition-delay: 0s; -moz-transition-delay: 0s; -o-transition-delay: 0s; transition-delay: 0s; }
.hexa .hexa__icon .hexa__forw #vault_outer { -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s; }
.hexa .hexa__text { position: absolute; width: 100%; left: 0; top: 417px; }
.hexa.is-active .hexa__icon svg { opacity: 1; }
.hexa.is-active .hexa__icon svg.hexa__forw #cube, .hexa.is-active .hexa__icon svg.hexa__forw #lasers, .hexa.is-active .hexa__icon svg.hexa__forw #vault_Dial, .hexa.is-active .hexa__icon svg.hexa__forw #vault_outer { opacity: 1; }

.hand { background: #353656; }
.is-forw .hand { background: transparent; }
.hand .hand__icon { position: absolute; width: 400px; margin-left: -185px; left: 50%; top: 105px; width: 370px; height: 400px; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; }
.hand .hand__icon svg { width: 370px; height: 400px; position: absolute; top: 0; left: 0; opacity: 1; }
.hand .hand__icon svg #lines_front, .hand .hand__icon svg #dots_front, .hand .hand__icon svg #lines_back, .hand .hand__icon svg #dots_back { opacity: 0; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; transition: all 0.4s linear; }
.hand .hand__icon svg path { stroke-dasharray: 1200; stroke-dashoffset: 1200; transition: all 0.7s linear; }
.hand .hand__icon svg #hand path { stroke-dashoffset: 0; }
.hand .hand__icon .hand__back #lines_front, .hand .hand__icon .hand__back #dots_front { display: none; }
.hand .hand__icon .hand__forw { z-index: 1800; }
.hand .hand__icon .hand__forw #lines_back, .hand .hand__icon .hand__forw #dots_back { display: none; }
.hand .hand__text { position: absolute; width: 100%; left: 0; top: 546px; }
.hand h2 { color: #f7ce67; }
.hand p { color: white; }
.hand.is-active .hand__icon svg { opacity: 1; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.hand.is-active .hand__icon svg path { stroke-dashoffset: 0; }
.hand.is-active .hand__icon #lines_front { opacity: 0.6; }
.hand.is-active .hand__icon #dots_front { opacity: 1; }
.hand.is-active .hand__icon #lines_back { opacity: 0.25; }
.hand.is-active .hand__icon #dots_back { opacity: 0.3; }
.hand #lines_front { opacity: 0.6; }
.hand #dots_front { opacity: 1; }
.hand #lines_back { opacity: 0.25; }
.hand #dots_back { opacity: 0.3; }

.staging { height: 4600px; height: 4132px; height: 4150px; width: 100%; position: relative; }

.first, .second, .third { width: 100%; bottom: 0; position: absolute; }
.first section, .second section, .third section { height: 800px; }
.first .in, .second .in, .third .in { height: 800px; }

.third { overflow: hidden; }

.poster { background: url(../img/westminster.jpg) no-repeat 50% 100%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; height: 470px; -o-background-size: cover; background-size: cover; }
.poster.poster_team { background: black url(../img/team.jpg) no-repeat 50% 100%; -webkit-background-size: cover; }

.in_about { width: 750px; }

.companytext h3 { text-align: center; margin-bottom: 36px; font-weight: normal; font-size: 31px; color: #353458; font-family: areg, sans-serif; font-weight: normal; }
.companytext p { margin-bottom: 1em; font-size: 21px; color: #353458; font-family: areg, sans-serif; font-weight: normal; line-height: 1.4; }
.companytext .companyinfo { width: 530px; margin: 40px auto; font-size: 15px; font-family: areg, sans-serif; font-weight: normal; color: #353458; color: #c5c6cd; }

.team ul { list-style: none; margin-right: -3px; margin-bottom: 30px; *zoom: 1; }
.team ul:after { content: " "; display: table; clear: both; }
.team .person { float: left; width: 185px; margin-right: 2px; margin-bottom: 2px; overflow: hidden; }
.team .person img { display: block; }
.team .person .person__name { height: 50px; line-height: 50px; background: #00bfbc; font-family: asemi, sans-serif; font-weight: normal; text-align: center; font-size: 15px; color: white; }
.team .person .person__name span { font-size: 12px; color: white; display: block; font-family: areg, sans-serif; font-weight: normal; }
.team .person.person_co .person__name { line-height: 1.3; padding-top: 8px; height: 42px; }

.footer_static { font-size: 13px; font-family: areg, sans-serif; font-weight: normal; padding: 20px 0; color: #353458; max-width: 750px; margin: 0 auto; *zoom: 1; }
.footer_static:after { content: " "; display: table; clear: both; }
.footer_static .footer__left { float: left; }
.footer_static .footer__links { float: right; text-align: right; list-style: none; }
.footer_static .footer__links li { display: inline-block; margin-left: 10px; }
.footer_static .footer__links a { text-decoration: none; font-size: 13px; color: #353458; }

.tabs { *zoom: 1; margin: 31px 0 25px; list-style: none; font-size: 0; text-align: center; }
.tabs:after { content: " "; display: table; clear: both; }
.tabs li { display: inline-block; }
.tabs a { display: inline-block; width: 324px; font-size: 17px; font-family: proxima, sans-serif; font-weight: normal; color: #b3b3bc; text-transform: uppercase; text-decoration: none; border-bottom: 2px solid #cdcdd4; text-align: center; letter-spacing: 3px; padding-bottom: 10px; padding-top: 2px; }
.tabs a.is-active { color: #353458; border-bottom-color: #353458; }
.tabs a:hover { color: #353458; border-bottom-color: #353458; }
.tabs.tabs_small { margin: 18px 0 24px 0; }
.tabs.tabs_small a { text-transform: none; width: 200px; letter-spacing: 0; }

.tabs_wide { margin-bottom: 50px; }
.tabs_wide li, .tabs_wide a { width: 50%; display: block; float: left; }
.tabs_wide a { width: 100%; font-size: 21px; padding-bottom: 25px; font-family: asemi, sans-serif; font-weight: normal; }
